{% extends "layout.html" %}

{% block title %}
    {{user.USERNAME}}
{% endblock %}

{% block body %}
<div class="container">
    <a href="/profile/edit">Change Account Info</a>
</div>

<div class="container">
    <br>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
    {% for post in user.post %}
    <div class="col">
        <div class="card h-100">
            <a href="/post/{{post.TITLE}}"><img src="data:{{ post.img[0].mimetype }};base64,{{post.img[0].bufferdata}}" class="card-img-top border-1" alt="..." style="width: 100%;height: 15vw;object-fit: cover;"></a>
            <div class="card-body">
                <h5 class="card-title text-center"><b>{{post.TITLE}}</b></h5>
                <h6 class="card-subtitle mb-2">{{post.PD}}</h6>
                <p class="card-text text-end"><small class="text-body-secondary">Uploaded on {{post.DATE.date()}}</small></p>
                <div class="row row-cols-2 ">
                    <div class="col">
                        <button class="btn-primary btn-sm btn" src="#">Edit</button>
                    </div>
                    <div class="col">
                        <form method="post" action="/del_post/{{post.PID}}">
                            <button class="float-end btn-danger btn-sm btn" type="submit" >Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
    </div>
</div>
{% endblock %}